In [4]:
from plyer import notification 
notification.notify(
     title='Título da notificação',
     message='Mensagem da notificação',
     app_name='Nome do aplicativo',
     timeout=10 )

In [6]:
from datetime import datetime
def alerta(nivel, base, etapa):
    '''
        Alerta de falha de carregamento de base de dados
    '''
    now = str(datetime.now())

    msg = f"Falha no carregamento da base {base} na etapa {etapa}.\n{now}"


    if nivel == 1:
        title = 'ATENÇÃO: Alerta Baixo'
    elif nivel == 2:
        title = 'ATENÇÃO: Alerta Médio'
    elif nivel  == 3:
        title = 'ATENÇÃO: Alerta Alto'
    else:
        print("Nivel",nivel,"não disponível!")

    notification.notify(
            title=title,
            message=msg,
            app_name='alerta',
            timeout=10
        )

alerta(nivel = 2,
        base = "ESTADOS", 
        etapa = "EXTRACAO")

In [7]:
import pandas as pd
import requests

In [8]:
url = 'https://brasilapi.com.br/api/ibge/uf/v1'
response = requests.get(url)

In [11]:
if response.status_code == 200:
    data_json = response.json()
else:
    print("Erro ao acessar a API")   
data_json

[{'id': 11,
  'sigla': 'RO',
  'nome': 'Rondônia',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 12,
  'sigla': 'AC',
  'nome': 'Acre',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 13,
  'sigla': 'AM',
  'nome': 'Amazonas',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 14,
  'sigla': 'RR',
  'nome': 'Roraima',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 15,
  'sigla': 'PA',
  'nome': 'Pará',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 16,
  'sigla': 'AP',
  'nome': 'Amapá',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 17,
  'sigla': 'TO',
  'nome': 'Tocantins',
  'regiao': {'id': 1, 'sigla': 'N', 'nome': 'Norte'}},
 {'id': 21,
  'sigla': 'MA',
  'nome': 'Maranhão',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 22,
  'sigla': 'PI',
  'nome': 'Piauí',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 23,
  'sigla': 'CE',
  'nome': 'Ceará',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 24,
  'sigla': 'RN',
  'nome': 'Rio Grande do Norte',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 25,
  'sigla': 'PB',
  'nome': 'Paraíba',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 26,
  'sigla': 'PE',
  'nome': 'Pernambuco',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 27,
  'sigla': 'AL',
  'nome': 'Alagoas',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 28,
  'sigla': 'SE',
  'nome': 'Sergipe',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 29,
  'sigla': 'BA',
  'nome': 'Bahia',
  'regiao': {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}},
 {'id': 31,
  'sigla': 'MG',
  'nome': 'Minas Gerais',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 32,
  'sigla': 'ES',
  'nome': 'Espírito Santo',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 33,
  'sigla': 'RJ',
  'nome': 'Rio de Janeiro',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 35,
  'sigla': 'SP',
  'nome': 'São Paulo',
  'regiao': {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}},
 {'id': 41,
  'sigla': 'PR',
  'nome': 'Paraná',
  'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}},
 {'id': 42,
  'sigla': 'SC',
  'nome': 'Santa Catarina',
  'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}},
 {'id': 43,
  'sigla': 'RS',
  'nome': 'Rio Grande do Sul',
  'regiao': {'id': 4, 'sigla': 'S', 'nome': 'Sul'}},
 {'id': 50,
  'sigla': 'MS',
  'nome': 'Mato Grosso do Sul',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}},
 {'id': 51,
  'sigla': 'MT',
  'nome': 'Mato Grosso',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}},
 {'id': 52,
  'sigla': 'GO',
  'nome': 'Goiás',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}},
 {'id': 53,
  'sigla': 'DF',
  'nome': 'Distrito Federal',
  'regiao': {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}}]

In [5]:
estados_full = pd.DataFrame(data_json)
estados_full.head(10)

   id sigla       nome                                        regiao
0  11    RO   Rondônia      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
1  12    AC       Acre      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
2  13    AM   Amazonas      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
3  14    RR    Roraima      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
4  15    PA       Pará      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
5  16    AP      Amapá      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
6  17    TO  Tocantins      {'id': 1, 'sigla': 'N', 'nome': 'Norte'}
7  21    MA   Maranhão  {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}
8  22    PI      Piauí  {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}
9  23    CE      Ceará  {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}

In [27]:
tabela_estado_ibge = estados_full[['nome', 'id']]

pd.DataFrame (tabela_estado_ibge)

                   nome  id
0              Rondônia  11
1                  Acre  12
2              Amazonas  13
3               Roraima  14
4                  Pará  15
5                 Amapá  16
6             Tocantins  17
7              Maranhão  21
8                 Piauí  22
9                 Ceará  23
10  Rio Grande do Norte  24
11              Paraíba  25
12           Pernambuco  26
13              Alagoas  27
14              Sergipe  28
15                Bahia  29
16         Minas Gerais  31
17       Espírito Santo  32
18       Rio de Janeiro  33
19            São Paulo  35
20               Paraná  41
21       Santa Catarina  42
22    Rio Grande do Sul  43
23   Mato Grosso do Sul  50
24          Mato Grosso  51
25                Goiás  52
26     Distrito Federal  53

In [28]:
df_regiao_contagem = estados_full['regiao'].value_counts().reset_index()
df_regiao_contagem.columns = ['regiao', 'quantidade_estados']

pd.DataFrame(df_regiao_contagem)

                                             regiao  quantidade_estados
0      {'id': 2, 'sigla': 'NE', 'nome': 'Nordeste'}                   9
1          {'id': 1, 'sigla': 'N', 'nome': 'Norte'}                   7
2       {'id': 3, 'sigla': 'SE', 'nome': 'Sudeste'}                   4
3  {'id': 5, 'sigla': 'CO', 'nome': 'Centro-Oeste'}                   4
4            {'id': 4, 'sigla': 'S', 'nome': 'Sul'}                   3